body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif; 
  overflow: hidden; 
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('ending\ yale.jpg') center/cover no-repeat;
  height: 100vh;
  filter: blur(2px); 
  backdrop-filter: blur(2px); 
  transition: background 0.5s ease-in-out; 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 1; 
  transition: transform 0.5s ease-in-out; 
}

.text {
  font-size: 25px; 
  line-height: 1.5;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

#loveForYale,
#invitationText,
#yaleText,
#codedBy {
  opacity: 0; 
  font-size: 28px; 
}

#loveForYale {
  font-size: 24px; 
  color: #ffffff; 
}

#codedBy {
  display: none;
}

#loveForYale,
#invitationText,
#yaleText,
#codedBy {
  margin-top: 30px; 
}

#invitationText,
#yaleText,
#codedBy {
  display: none; 
}

/* Animation effect */
.text:hover {
  transform: scale(1.05); 
}
